.container{
  text-align: center;
  background-color: #d7d6d9;
  height: 340px;
  width: 400px;
}
body{
  /* padding:70px; */
  margin-top: 100px;
}
h1{
  margin:auto;
}
.row{
  height:90px;
  /* width:396px; */
}
input{
  border-radius: 0px !important;
}
button{
  border-radius: 0px !important;
  ;
}
.show-users{
  color: rgb(15, 15, 206);
  font-size: 15px;
  cursor: pointer;
}
.show-users:hover{
  color:orange;
  text-decoration: underline;
  
}